{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Investbrain API",
    "description" : "Investbrain is a smart open-source investment tracker that consolidates and monitors market performance across your different brokerages.",
    "termsOfService" : "https://investbra.in/terms",
    "contact" : {
      "name" : "GitHub",
      "url" : "https://github.com/investbrainapp/investbrain"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://investbra.in/api",
    "description" : "Investbrain Cloud API"
  }, {
    "url" : "https://{base_url}/api",
    "description" : "Self-hosted Investbrain API",
    "variables" : {
      "base_url" : {
        "description" : "Location of your self-hosted Investbrain instance",
        "default" : "localhost:8000"
      }
    }
  }, {
    "url" : "https://virtserver.swaggerhub.com/investbrain/investbrain/1.0.0",
    "description" : "SwaggerHub API Auto Mocking"
  } ],
  "security" : [ {
    "api_token" : [ ]
  } ],
  "tags" : [ {
    "name" : "Portfolios",
    "description" : ""
  }, {
    "name" : "Transactions",
    "description" : ""
  }, {
    "name" : "Holdings",
    "description" : ""
  }, {
    "name" : "Market Data",
    "description" : ""
  }, {
    "name" : "User",
    "description" : ""
  } ],
  "paths" : {
    "/transaction" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "Retrieve a paginated list of your transactions",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "itemsPerPage",
          "in" : "query",
          "description" : "The number of items to include per page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 10
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "The column used to sort the results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sortDesc",
          "in" : "query",
          "description" : "Whether to sort the column in descending order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "The search string searches multiple columns depending on schema",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filter[]",
          "in" : "query",
          "description" : "Filter the results on the value of schema's columns",
          "required" : false,
          "style" : "deepObject",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "?filter[color]=blue,green,red"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of transactions matching the provided filter criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      },
      "post" : {
        "tags" : [ "Transactions" ],
        "summary" : "Create a new transaction",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Transaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Returns the newly created transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/transaction/{id}" : {
      "get" : {
        "tags" : [ "Transactions" ],
        "summary" : "Retrieve a single transaction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique ID of the transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Transaction matching the provided ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      },
      "put" : {
        "tags" : [ "Transactions" ],
        "summary" : "Update a transaction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique ID of the transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Transaction"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Returns the updated transaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Transactions" ],
        "summary" : "Delete a transaction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique ID of the transaction",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Transaction successfully deleted"
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/portfolio" : {
      "get" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Retrieve a paginated list of your portfolios",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "itemsPerPage",
          "in" : "query",
          "description" : "The number of items to include per page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 10
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "The column used to sort the results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sortDesc",
          "in" : "query",
          "description" : "Whether to sort the column in descending order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "The search string searches multiple columns depending on schema",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filter[]",
          "in" : "query",
          "description" : "Filter the results on the value of schema's columns",
          "required" : false,
          "style" : "deepObject",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "?filter[color]=blue,green,red"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of portfolios matching the provided filter criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      },
      "post" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Create a new portfolio",
        "responses" : {
          "201" : {
            "description" : "Returns the newly created portfolio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Portfolio"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/portfolio/{id}" : {
      "get" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Retrieve a single portfolio",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique ID of the portfolio",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Portfolio matching the provided ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Portfolio"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      },
      "put" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Update a portfolio",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique ID of the portfolio",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the updated portfolio",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Portfolio"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      },
      "delete" : {
        "tags" : [ "Portfolios" ],
        "summary" : "Delete a portfolio",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Unique ID of the portfolio",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Portfolio successfully deleted"
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "403" : {
            "description" : "Action not permitted"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/holding" : {
      "get" : {
        "tags" : [ "Holdings" ],
        "summary" : "Retrieve a paginated list of your holdings",
        "description" : "",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "itemsPerPage",
          "in" : "query",
          "description" : "The number of items to include per page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 10
          }
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "The column used to sort the results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sortDesc",
          "in" : "query",
          "description" : "Whether to sort the column in descending order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "The search string searches multiple columns depending on schema",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filter[]",
          "in" : "query",
          "description" : "Filter the results on the value of schema's columns",
          "required" : false,
          "style" : "deepObject",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "?filter[color]=blue,green,red"
        } ],
        "responses" : {
          "200" : {
            "description" : "List of holdings matching the provided filter criteria",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/market-data/{symbol}" : {
      "get" : {
        "tags" : [ "Market Data" ],
        "summary" : "Get latest market data for symbol",
        "description" : "",
        "parameters" : [ {
          "name" : "symbol",
          "in" : "path",
          "description" : "Ticker symbol",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : "AAPL"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Latest market data for the provided symbol",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MarketData"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    },
    "/me" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "Currently authenticated user's profile information",
        "responses" : {
          "200" : {
            "description" : "User's profile information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "401" : {
            "description" : "Token not provided or invalid"
          },
          "500" : {
            "description" : "Server error"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "User" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string",
            "example" : "John Q. Doe"
          },
          "email" : {
            "type" : "string",
            "format" : "email"
          },
          "profile_photo_path" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://..."
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Portfolio" : {
        "required" : [ "title" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "title" : {
            "type" : "string",
            "example" : "My Investments"
          },
          "wishlist" : {
            "type" : "boolean"
          },
          "owner" : {
            "$ref" : "#/components/schemas/User"
          },
          "transactions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Transaction"
            }
          },
          "holdings" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Holding"
            }
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Transaction" : {
        "required" : [ "symbol" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "symbol" : {
            "type" : "string",
            "example" : "AAPL"
          },
          "portfolio_id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "transaction_type" : {
            "type" : "string",
            "enum" : [ "BUY", "SELL" ]
          },
          "quantity" : {
            "type" : "number",
            "format" : "float",
            "example" : 5
          },
          "cost_basis" : {
            "type" : "number",
            "format" : "float",
            "example" : 200
          },
          "sale_price" : {
            "type" : "number"
          },
          "split" : {
            "type" : "boolean",
            "example" : false
          },
          "reinvested_dividend" : {
            "type" : "boolean",
            "example" : false
          },
          "date" : {
            "type" : "string",
            "format" : "date-time"
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Holding" : {
        "required" : [ "symbol" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "portfolio_id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "symbol" : {
            "type" : "string"
          },
          "quantity" : {
            "type" : "number",
            "example" : 5
          },
          "reinvest_dividends" : {
            "type" : "boolean"
          },
          "average_cost_basis" : {
            "type" : "number",
            "format" : "float",
            "example" : 238.92
          },
          "total_cost_basis" : {
            "type" : "number",
            "format" : "float",
            "example" : 1194.6
          },
          "realized_gain_dollars" : {
            "type" : "number",
            "example" : 0
          },
          "dividends_earned" : {
            "type" : "number",
            "format" : "float",
            "example" : 1.4
          },
          "splits_synced_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "total_market_value" : {
            "type" : "number",
            "format" : "float",
            "example" : 9072.36
          },
          "market_gain_dollars" : {
            "type" : "number",
            "format" : "float",
            "example" : 7877.76
          },
          "market_gain_percent" : {
            "type" : "number",
            "format" : "float",
            "example" : 85.75
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "MarketData" : {
        "type" : "object",
        "properties" : {
          "symbol" : {
            "type" : "string",
            "example" : "AAPL"
          },
          "name" : {
            "type" : "string",
            "example" : "Apple Inc."
          },
          "market_value" : {
            "type" : "number",
            "format" : "float",
            "example" : 221.46
          },
          "fifty_two_week_low" : {
            "type" : "number",
            "format" : "float",
            "example" : 164.08
          },
          "fifty_two_week_high" : {
            "type" : "number",
            "format" : "float",
            "example" : 260.1
          },
          "last_dividend_date" : {
            "type" : "string",
            "format" : "date-time"
          },
          "last_dividend_amount" : {
            "type" : "number",
            "format" : "float",
            "example" : 0.25
          },
          "dividend_yield" : {
            "type" : "number",
            "format" : "float",
            "example" : 0.426124
          },
          "market_cap" : {
            "type" : "integer",
            "example" : 3330293366784
          },
          "trailing_pe" : {
            "type" : "number",
            "format" : "float",
            "example" : 36.4843
          },
          "forward_pe" : {
            "type" : "number",
            "format" : "float",
            "example" : 26.6498
          },
          "book_value" : {
            "type" : "number",
            "format" : "float",
            "example" : 3.767
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "Paginated" : {
        "type" : "object",
        "properties" : {
          "data" : {
            "type" : "array",
            "items" : { }
          },
          "links" : {
            "$ref" : "#/components/schemas/Paginated_links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Paginated_meta"
          }
        },
        "x-internal" : true
      },
      "inline_response_200" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Paginated"
        }, {
          "type" : "object",
          "properties" : {
            "data" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Transaction"
              }
            }
          }
        } ]
      },
      "inline_response_200_1" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Paginated"
        }, {
          "type" : "object",
          "properties" : {
            "data" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Portfolio"
              }
            }
          }
        } ]
      },
      "inline_response_200_2" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Paginated"
        }, {
          "type" : "object",
          "properties" : {
            "data" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Holding"
              }
            }
          }
        } ]
      },
      "Paginated_links" : {
        "type" : "object",
        "properties" : {
          "first" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://..."
          },
          "last" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://..."
          },
          "next" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://..."
          },
          "prev" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://..."
          }
        }
      },
      "Paginated_meta" : {
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string",
            "format" : "url",
            "example" : "https://..."
          },
          "current_page" : {
            "type" : "integer",
            "example" : 1
          },
          "last_page" : {
            "type" : "integer",
            "example" : 5
          },
          "per_page" : {
            "type" : "integer",
            "example" : 10
          },
          "total" : {
            "type" : "integer",
            "example" : 50
          }
        }
      }
    },
    "responses" : {
      "UnauthenticatedError" : {
        "description" : "Token not provided or invalid"
      },
      "UnauthorizedError" : {
        "description" : "Action not permitted"
      },
      "NotFoundError" : {
        "description" : "Resource not found"
      },
      "ServerError" : {
        "description" : "Server error"
      }
    },
    "parameters" : {
      "page" : {
        "name" : "page",
        "in" : "query",
        "description" : "The requested page number",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "default" : 1
        }
      },
      "itemsPerPage" : {
        "name" : "itemsPerPage",
        "in" : "query",
        "description" : "The number of items to include per page",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "default" : 10
        }
      },
      "sortBy" : {
        "name" : "sortBy",
        "in" : "query",
        "description" : "The column used to sort the results",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "sortDesc" : {
        "name" : "sortDesc",
        "in" : "query",
        "description" : "Whether to sort the column in descending order",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "boolean",
          "default" : false
        }
      },
      "search" : {
        "name" : "search",
        "in" : "query",
        "description" : "The search string searches multiple columns depending on schema",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "filter" : {
        "name" : "filter[]",
        "in" : "query",
        "description" : "Filter the results on the value of schema's columns",
        "required" : false,
        "style" : "deepObject",
        "explode" : false,
        "schema" : {
          "type" : "string"
        },
        "example" : "?filter[color]=blue,green,red"
      }
    },
    "securitySchemes" : {
      "api_token" : {
        "type" : "http",
        "scheme" : "bearer"
      }
    }
  }
}